.placeholderImageIcon {
  align-self: stretch;
  height: 260px;
  position: relative;
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.contentIntroOne,
.heading {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.heading {
  margin: 0;
  font-size: var(--h5-24-size);
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  color: var(--text-primary);
}
.contentHeadingOne {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--p4-14-size);
}
.contentDescriptionOne {
  position: relative;
  line-height: 150%;
  color: var(--text-primary);
}
.learnMore {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.btnLearn {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-117xl);
  box-sizing: border-box;
  max-width: 100%;
}
.btns,
.card,
.content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.btns {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}
.card,
.content {
  flex-direction: column;
  align-items: flex-start;
}
.content {
  align-self: stretch;
  border-radius: 0 0 var(--br-base) var(--br-base);
  border-right: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  border-left: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  padding: var(--padding-5xl) var(--padding-4xl) var(--padding-19xl);
  gap: var(--gap-base);
}
.card {
  text-align: left;
  font-size: var(--p3-16-size);
  color: var(--color-gray-100);
  font-family: var(--h2-48);
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .btnLearn {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
