.imgIcon {
  width: 500px;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.loremLipsum {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
}
.text {
  position: relative;
  font-size: var(--p3-16-size);
  line-height: 150%;
}
.loremLipsumParent,
.servicesDescriptionItems {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.loremLipsumParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 481px;
}
.servicesDescriptionItems {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--h5-24-size);
  color: var(--text-primary);
  font-family: var(--h2-48);
}
@media screen and (max-width: 1200px) {
  .imgIcon {
    flex: 1;
  }
  .servicesDescriptionItems {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .loremLipsumParent {
    min-width: 100%;
  }
  .servicesDescriptionItems {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .loremLipsum {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
}
