.loremIpsumDolor,
.mediumLengthHero {
  width: 1281px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.mediumLengthHero {
  margin: 0;
  width: 628px;
  font-size: var(--h2-48-size);
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.banner {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-xl) var(--padding-81xl)
    var(--padding-61xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  background-image: url(/banner1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--p3-16-size);
  color: var(--text-primary);
  font-family: var(--h2-48);
}
.loremIpsumDolor1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
}
.mediumLengthHero1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--h2-48-size);
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  color: var(--text-primary);
}
.heading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--color-gray-100);
  text-align: left;
}
.placeholderImageIcon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text {
  position: relative;
  line-height: 150%;
}
.description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.loremLipsum {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
}
.text2 {
  position: relative;
  font-size: var(--p3-16-size);
  line-height: 150%;
}
.loremLipsumParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 481px;
  max-width: 100%;
}
.imgIcon {
  width: 500px;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.services,
.servicesDescriptionItems {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.servicesDescriptionItems {
  flex-direction: row;
  font-size: var(--h5-24-size);
}
.services {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-61xl);
  box-sizing: border-box;
}
.heading1,
.subheading {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.heading1 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.text3 {
  position: relative;
  font-size: var(--p2-18-size);
  line-height: 150%;
  font-family: var(--text-medium-normal);
  text-align: center;
  display: none;
  max-width: 100%;
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--h2-48-size);
  color: var(--text-primary);
}
.content,
.fAQAccordionItems,
.sectionTitle {
  display: flex;
  justify-content: flex-start;
}
.sectionTitle {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
  max-width: 100%;
}
.fAQAccordionItems {
  width: 1280px;
  height: 64px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-21xl);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}
.accordionContent {
  position: relative;
  display: none;
}
.open {
  width: 1280px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  cursor: pointer;
}
.accordionContent1,
.accordionContentWrap {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.accordionContentWrap {
  overflow: hidden;
}
.accordionContent1 {
  width: 1280px;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  cursor: default;
}
.accordionContent1.accordion__open {
  grid-template-rows: 1fr;
}
.accordionContent1,
.accordionContent1.accordion__close {
  grid-template-rows: 0fr;
}
.accordionItemMock {
  width: 1280px;
  display: none;
  flex-direction: column;
}
.accordion,
.faq,
.servicesDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.accordion {
  align-self: stretch;
  gap: var(--gap-5xl);
  color: transparent;
}
.faq,
.servicesDetails {
  background-color: var(--color-white);
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--p3-16-size);
  font-family: var(--h2-48);
}
.faq {
  align-self: stretch;
  padding: var(--padding-41xl) var(--padding-61xl);
  gap: var(--gap-21xl);
  max-width: 100%;
  color: var(--color-gray-100);
}
.servicesDetails {
  width: 100%;
  position: relative;
  padding: var(--padding-3xs) 0 0;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-primary);
}
@media screen and (max-width: 1200px) {
  .banner {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .imgIcon {
    flex: 1;
  }
  .servicesDescriptionItems {
    flex-wrap: wrap;
  }
  .services {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .mediumLengthHero,
  .mediumLengthHero1 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .services {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .heading1 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
}
@media screen and (max-width: 750px) {
  .image {
    gap: var(--gap-xl);
  }
  .loremLipsumParent {
    min-width: 100%;
  }
  .faq,
  .services,
  .servicesDescriptionItems {
    gap: var(--gap-xl);
  }
  .faq,
  .services {
    padding: var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
  }
  .faq {
    padding: var(--padding-20xl) var(--padding-21xl);
  }
}
@media screen and (max-width: 450px) {
  .mediumLengthHero,
  .mediumLengthHero1 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .loremLipsum {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .heading1 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
}
